<style type="text/css">
	.filelist {
		position: absolute;
		z-index: 999999;
		top: 0;
		left: 0;
		font-size: 18px;
		color: #fff;
	}

	.filelist._hidden {
		display: none;
	}

	.filelist._active .filelist__body {
		display: block;
	}

	.filelist span {
		display: inline-block;
		padding: 9px 20px;
		background: #000;
	}

	.filelist__body {
		display: none;
		background: #000;
	}

	.filelist__nav {
		border-top: 1px dashed rgba(255, 255, 255, .2);
		padding: 9px 0;
	}

	.filelist__tip {
		border-top: 1px dashed rgba(255, 255, 255, .2);
		padding: 20px;
		font-size: 12px;
		line-height: 1.4;
	}

	.filelist__text {
		max-width: 200px;
	}

	.filelist__nav:first-child {
		border-top: 0;
	}

	.filelist__nav a {
		display: block;
		padding: 9px 20px;
		color: #fff !important;
	}

	.filelist__nav a:hover {
		background: #fff;
		color: #000 !important;
	}

	.filelist__nav .filelist__zip {
		background: #5c905a;
		color: #fff !important;
	}

	.filelist__nav .filelist__zip:hover {
		background: #6ca86a;
		color: #fff !important;
	}
</style>

<script type="text/javascript">

	(function () {

		var Filelist = {

			createHtml: function () {

				var $filelist = $('<div class="filelist" id="filelist">' +
					'<span></span>' +
					'<div class="filelist__body">' +
					'<div class="filelist__nav">' +
					'<a href="http://ildar-meyker.ru/html/leeft/vita-nord/html-vita-nord.zip" target="_blank" class="filelist__zip">Скачать архив</a>' +
					'<a href="#" class="js-filelist-hide">Скрыть</a>' +
					'</div>' +
					'<div class="filelist__tip">' +
					'<div class="filelist__text">' +
					'Можно щелкнуть мышкой дважды в любом месте, ' +
					'чтобы скрыть или показать.' +
					'</div>' +
					'</div>' +
					'</div>' +
					'</div>'),

					$label = $filelist.find('span'),

					$body = $filelist.find('.filelist__body');

				$.ajax('filelist.json', { cache: false })
					.done(function (data) {
						$label.text('Pages count: ' + data.length);

						var $pages = $('<div class="filelist__nav"></div>');
						data.forEach(function (filename) {
							$('<a href="' + filename + '">' +
								filename +
								'</a>').appendTo($pages);
						});
						$pages.prependTo($body);
					})
					.fail(function () {
						$label.text('Filelist failed.');
					})
					.always(function () {
						$filelist.appendTo($('body'));
					});

			},

			_handleSpanClick: function (e) {
				var self = e.data.self;

				$('#filelist').toggleClass('_active');
			},

			_handleDocumentClick: function (e) {
				var self = e.data.self;

				if ($(e.target).closest('.filelist').length > 0) return;
				$('#filelist').removeClass('_active');
			},

			_handleDoubleClick: function (e) {
				var self = e.data.self;

				$('#filelist').toggleClass('_hidden');
			},

			_handleHideClick: function (e) {
				var self = e.data.self;

				$('#filelist').addClass('_hidden');
			},

			_bindUI: function () {
				var self = this;

				$(document).on('dblclick', { self: self }, self._handleDoubleClick);
				$(document).on('click', '.js-filelist-hide', { self: self }, self._handleHideClick);
				$(document).on('click', '.filelist > span', { self: self }, self._handleSpanClick);
				$(document).on('click', { self: self }, self._handleDocumentClick);
			},

			init: function () {
				var self = this;

				self._bindUI();
				self.createHtml();
			}

		};

		Filelist.init();

	}());

</script>